<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://celineirvene.github.io/browser-upgrade/">
    <style>body{display:none;}</style>
    <![endif]-->
    <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic">
    <link rel="stylesheet" href="/vendor/fontello/css/fontello.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/vendor/fontello/css/animation.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67439/basic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="/assets/css/main.css?rev={{ site.github.build_revision }}">
</head>
<body>

    <div class="container">

        <header><h1><a href="/">celineirvene<i class="dot-head">.</i>com</a></h1></header>

        <div class="navigation">
            <ul>
                <li><a href="/"><i class="icon-info-circled"></i><span>Home</span></a></li>
                <li><a href="/research.html"><i class="icon-info-circled"></i><span>Research</span></a></li>
                <li><a href="/projects.html"><i class="icon-wrench"></i><span>Projects</span></a></li>
                <li><a href="/quotes.html"><i class="icon-info-circled"></i><span>Quotes</span></a></li>
            </ul>
        </div>

        <div class="content">
            {{ content }}
        </div>

        <footer class="pagefooter">
            <p>&copy; {{ site.time | date: '%Y' }} Celine Irvene</p>
        </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/vendor/autolinker/Autolinker.min.js?rev={{ site.github.build_revision }}"></script>
    <script src="/assets/js/main.js?rev={{ site.github.build_revision }}"></script>

</body>
</html>
